#nav

    #menuIcon
        %p{onclick: 'openMenu()'} MENU

#content
    #menu
        // display items depending on category
        %h2.menuTitle - COCKTAILS -
        - if @user
            - if @user.role == 'admin'
                = link_to "ADD ITEM", new_item_path, class: 'adminButton'

        %hr.menuHr

        - @items.each do |item|
            - if item.category == 'Cocktail'
                .item
                    %p.itemTitle= item.title
                    %p.itemDescription= item.description
                    %p.itemPrice= "#{item.price}$"
                    %br
                    - if @user
                        - if @user.role == 'admin'
                            = link_to "Edit", edit_item_path(item), class: 'adminButton'
                            = link_to "Delete", item_path(item), method: :delete, class: 'adminButton'

        %h2.menuTitle - FOOD -
        
        - @items.each do |item|
            - if item.category == 'Food'
                .item
                    %p.itemTitle= item.title
                    %p.itemDescription= item.description
                    %p.itemPrice= "#{item.price}$"
                    %br
                    - if @user
                        - if @user.role == 'admin'
                            = link_to "Edit", edit_item_path(item), class: 'adminButton'
                            = link_to "Delete", item_path(item), method: :delete, class: 'adminButton'

    #info
        .infoContent
            