= form_with model: @item, url: cms_articles_path  do |form|
    %p
        = form.label :title
        = form.text_field :title
    %p
        = form.label :lede
        = form.text_area :lede
    %p
        = form.label :body
        = form.text_area :body
    %p
        = form.label :image
        = form.file_field :image
        = form.hidden_field :user_id, value: current_user.id
    %br
        = form.label :category
        .Category= form.collection_select :category_id, Category.all, :id, :name 
    %p
        = form.submit