- if @user
    - if @user.role == 'admin'
        .addItemWrapper
            = form_with model: @item do |form|

                .addItemForm
                    %p
                        = form.text_field :title, class: 'addItemField', placeholder: 'title'

                    %p
                        = form.text_field :category, class: 'addItemField', placeholder: 'category'

                    %p
                        = form.text_field :description, class: 'addItemField', placeholder: 'description'

                    %p
                        = form.text_field :price, class: 'addItemField', placeholder: 'price'

                    %p
                        = form.submit 'ADD TO MENU', class: 'addItemButton'
- else
    %p Sorry, you do not have access to this page
